@charset "UTF-8";
@import url("../CSS/layout.css") screen;

/* 공지 글내용 board/board_view.jsp */

#brd_title{
	padding-left: 50px;
	height: 100px;
	line-height: 100px;
	font-size: 150%;
	overflow : hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 50px;
}
#hitNdate{ 
	line-height: 100px; 
	text-align: end;
	padding-right: 5px;
}

#brd_content{ padding: 70px; }
#brd_content img {
	max-width: 100%;
    height: auto;
}

.brd_bottom{
	padding-left:50px;
	height:70px;
	line-height:70px;
}

#list_btn{
	margin:70px auto;
	display : flex;
	justify-content : center;
}

#list_btn button{
	width:150px;
	height:60px;
	font-size:18px;
	border-radius:0px;
}
#list_btn a { 
	color:#555;
	text-decoration: none; 
}
.brd_bottom a{ 
	padding-left:50px; 
	text-decoration:none;
	color:#555;
}
.brd_bottom a:hover{ font-weight:bold; }


.contentOver,
.contentOver * {
	color: #777 !important;
	font-weight : 300 !important;
	font-size : 1em !important;
	font-family: 'Noto Sans KR', sans-serif !important;
	width: 700px;
	text-overflow: ellipsis;
    white-space: nowrap;
}
/*글쓰기 버튼*/
#writeBtnWrap{
	text-align : left;
}
#writeBtn{
	width : 220px;
	height : 50px;
	font-size : 110%;
	font-weight: 550;
	color : #555;
	border-radius : 5px 5px 0 0;
	border : 1px solid gray;
	border-bottom : none;
	background-color : #fff;
	cursor : pointer;
	background:url(../IMG/icon/edit.png) no-repeat 10% 50% #fff;
	background-size:20px;
	padding-left : 20px;
}
#writeBtn:hover{
	background-color : #eee;
}

/* 리뷰 댓글 */

#commentt{ padding: 30px 30px 30px 50px; }

#commentt a{ 
	text-decoration: none;
	color: #555; 
}

#commentt a:hover{ color: #c8c8c8; }

#userid{ margin-bottom: 10px; }

#reply{
	font-size:13px;
	clear:left;
}

