<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.gaza.myapp.admin.AdminEditInterface">
<insert id="insertAdmin" parameterType="kr.gaza.myapp.admin.AdminVO">
	insert into admin(adminnum, adminid, adminpwd, adminname, admintel, adminemail, adminregdate)
		values(adminnum_sq.nextval, #{adminId}, #{adminPwd}, #{adminName}, #{adminTel}, #{adminEmail}, sysdate)
</insert>

<insert id="insertAirport" parameterType="kr.gaza.myapp.aviation.airport.AirportVO">
	insert into airport(airportnum, iata, city, continent, latitude, longitude, cityimg)
		values(airport_sq.nextval, #{iata}, #{city}, #{contitnent}, #{latitude}, #{longitude}, #{cityImg})
</insert>
</mapper>