<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.gaza.myapp.admin.AdminInterface">
<select id="airportAllRecord" resultType="kr.gaza.myapp.aviation.airport.AirportVO">
	select airportnum, iata, continent, city, latitude, longitude, cityimg from airport
</select>

    <select id="flightAllRecord" resultType="kr.gaza.myapp.aviation.flight.FlightVO">
        select flightnum, airplanename, productnum, departtime, arrivetime, sale as flightSale from flight
    </select>

<select id="foodAllRecord" resultType="kr.gaza.myapp.aviation.food.FoodVO">
	select foodnum, foodtype, foodname, foodimg, foodcontent, foodingredient, foodprice from food
</select>

<select id="peopleAllRecord" resultType="kr.gaza.myapp.aviation.personType.peopleVO">
	select peoplenum, peopletype, peoplesale from people
</select>

    <select id="productAllRecord" resultType="kr.gaza.myapp.aviation.product.ProductVO">
        select productnum, depart, arrive, price, productcnt, sale as productSale, regdate from product
    </select>

<select id="seatReserveAllRecord" resultType="kr.gaza.myapp.aviation.seatreserve.SeatReserveVO">
	select seatreservenum, flightnum, seattype, seatno, reserved from seatreserve
</select>

<select id="seatAllRecord" resultType="kr.gaza.myapp.aviation.seatType.SeatVO">
	select seattype, seatcontent from seat
</select>

<select id="allianceAllRecord" resultType="kr.gaza.myapp.eventPackage.AllianceVO">
	select eventnum, eventname, eventthumbnail, eventimg, eventcontent, eventcompany, startdate, enddate, to_char(regdate,' YYYY-MM-DD') regdate from event
</select>

<select id="noticeAllRecord" resultType="kr.gaza.myapp.board.noticeBoard.NoticeBoardVO">
	select noticenum, noticetype, subject, content, hit, to_char(regdate, 'YYYY-MM-DD') regdate from noticeboard
</select>

<select id="reviewAllRecord" resultType="kr.gaza.myapp.board.reviewBoard.ReviewBoardVO">
	select reviewnum, reviewtype, subject, content, writer, hit, to_char(regdate,'YYYY-MM-DD') regdate, ip from reviewboard
</select>

</mapper>	