<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.gaza.myapp.myhome.purchase.PurchaseInterface">
	<select id="purchaseRecord" resultType="kr.gaza.myapp.myhome.purchase.PurchaseVO">
		select
		       to_char(paydate, 'YYYY-MM-DD') paydate,
		       to_char(totalprice, '999,999,999,999') totalprice,
		       ordernum
		from
		     payment
		where
		      membernum=${memberNum} and paydate &gt; to_date('${startDate}', 'YYYY-MM-DD') and PAYDATE &lt; to_date('${endDate}', 'YYYY-MM-DD')
	</select>
	
	<select id="flightList" resultType="int">
		select flightnum from orderedflight where ordernum=#{orderNum}
	</select>
	<select id="productNum" resultType="int">
		select productnum from flight where flightnum=#{flightNum} order by departtime desc
	</select>
	<select id="depAriList" resultType="kr.gaza.myapp.myhome.purchase.PurchaseVO">
		select depart, arrive from product where productnum=#{productNum}
	</select>
	<select id="DepAri" resultType="kr.gaza.myapp.myhome.MyHomeVO">
		select depart, arrive from product where productnum=#{productNum}
	</select>
	<select id="departCity" resultType="kr.gaza.myapp.myhome.MyHomeVO">
		select city as departCity from airport where IATA=#{depart}
	</select>
	<select id="arriveCity" resultType="kr.gaza.myapp.myhome.MyHomeVO">
		select city as arriveCity from airport where IATA=#{arrive}
	</select>
</mapper>