<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.gaza.myapp.myhome.purchase.PurchaseInterface">
	<select id="purchaseRecord" resultType="kr.gaza.myapp.myhome.purchase.PurchaseVO">
		select to_char(paydate, 'YYYY-MM-DD')paydate,to_char(totalprice, '999,999,999,999')totalprice,ordernum from payment where membernum=#{memberNum} and paydate>#{startDate}?
	</select>
	
	
	
	
</mapper>