<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.gaza.myapp.board.reviewBoard.ReviewBoardInterface">
	<select id="reviewBoardTotalRecord" parameterType="int" resultType="int">
		select count(reviewNum) from reviewBoard where reviewType=#{value}
	</select>
	
	<select id="getAllRecord" resultType="kr.gaza.myapp.board.reviewBoard.ReviewBoardVO">
			select reviewNum, reviewType, writer, subject, content, hit, to_char(regDate, 'YYYY.MM.DD') regDate from reviewBoard 
			where reviewType=#{reviewType}
			<if test="reviewType == 1">
				and writer=#{writer}
			</if>
	</select>
	
	<select id="reviewBoardSelect" parameterType="kr.gaza.myapp.board.reviewBoard.ReviewBoardVO" resultType="kr.gaza.myapp.board.reviewBoard.ReviewBoardVO">
			select reviewNum, reviewType, writer, subject, content, hit, to_char(regDate, 'YYYY.MM.DD') regDate 
			from reviewBoard where reviewNum=#{reviewNum}
	</select>
	
	<select id="reviewBoardGetPrevNext" parameterType="int" resultType="kr.gaza.myapp.board.reviewBoard.ReviewBoardVO">
			select * from(
				SELECT 
				reviewNum, subject, 
				lag(reviewNum, 1) over (order by reviewNum) prevNum, 
				lag(subject, 1, '이전 글이 없습니다.') over (order by reviewNum) prevSubject, 
				lead(reviewNum, 1) over (order by reviewNum) nextNum, 
				lead(subject, 1, '다음 글이 없습니다.') over (order by reviewNum) nextSubject 
				from reviewBoard where reviewType=#{param1}
			)
			where reviewNum=#{param2}
	</select>
</mapper>